<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">	
    <!-- CSV tab -->
    <event name="bms_supplier_edit_tabs">
        <observer name="web_bms_supplier_edit_csv_tab" instance="Webappmate\ExtendBoostMyShop\Observer\CSVImportTab"/>
    </event>
</config>
